<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotel_Reservation.Properties.Settings.testConnectionString"
			connectionString="server=localhost;user id=MNath;password=meenakshi@2014;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="Hotel_Reservation.Properties.Settings.test"
			connectionString="server=localhost;user id=MNath;password=meenakshi@2014;persistsecurityinfo=True;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="Hotel_Reservation.Properties.Settings.inventoryConnectionString"
            connectionString="server=localhost;user id=MNath;password=meenakshi@2014;database=inventory"
            providerName="MySql.Data.MySqlClient" />
        <add name="Inventory_Management.Properties.Settings.testConnectionString"
            connectionString="server=localhost;user id=MNath;password=meenakshi@2014;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="Inventory_Management.Properties.Settings.test"
			connectionString="server=localhost;user id=MNath;password=meenakshi@2014;persistsecurityinfo=True;database=test"
            providerName="MySql.Data.MySqlClient" />
        <add name="Inventory_Management.Properties.Settings.inventoryConnectionString"
            connectionString="server=localhost;user id=MNath;password=meenakshi@2014;database=inventory"
            providerName="MySql.Data.MySqlClient" />
        <add name="Inventory_Management.Properties.Settings.inventoryConnectionString1"
            connectionString="server=localhost;user id=MNath;password=meenakshi@2014;database=inventory;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>